@model eLibrary1.Models.Assunto

<form class="form-horizontal" method="POST">
<fieldset>

<!-- Form Name -->
<legend>Cadastro de Assunto</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Name">Nome</label>  
  <div class="col-md-2">
  <input id="Nome" name="Nome" type="text" placeholder="Nome" class="form-control input-md">
    
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="submit"></label>
  <div class="col-md-4">
    <button id="submit" name="submit" class="btn btn-primary">Cadastrar</button>
  </div>
</div>

</fieldset>
</form>
<div class="container">
	<div class="row">
	</div>
</div>